@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

@theme {
    --font-sans: 'Montserrat', sans-serif;
    --animate-hourglass: hourglass 5s linear infinite;

    @keyframes hourglass {
        0% {
            transform: rotate(0deg);
        }
        10% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(180deg);
        }
    }
}